body{
    margin: auto 0;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9e9e9e;
    line-height: 25px;
}
.header-img{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 900px;
}
.shift a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding-top: 10px;
}
div > a{
    text-decoration: none;
    font-size: 50px;
    font-weight: 300px;
    color: white;
}
li{
    list-style: none;
    color: white;
    display: inline;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 100px;
    line-height: 25px;
    
}
.shipt{
    margin-top: 0px;
}
.shipt li a{
    text-decoration: none;
    color: white;
}
.act-upon{
    display: flex;
    justify-content: space-around;
    padding: 40px 120px;
    margin-left: -100px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    cursor: pointer;
}
.sticky{
    /* position: fixed; */
    top: 0;
    width: 100%;
}
.nav-bar{
    margin-right: 250px;
}
.nav-bar .shipt li a:hover{
    color: #f3c26b;
}
.nav-bar .shipt li a.select{
    color: #f3c26b;
    border-bottom: 2px solid #f3c26b;
    padding-bottom: 10px;
}
/* .para{
    background-color: orange;
} */
/* .para1{
    margin-left: 142px;
}
.para2{
    margin-left: 183px;
}
.word{
    margin-left: 170px;
} */

.peep{
    margin-top: 20px;
    display: flex;
    margin-left: 170px;
}
.dash{
    padding-top: 50px;
    color:  #f3c26b;
    width: 50px;
}
.word{
    font-size: 50px;
    line-height: 1.3em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.word p a{
    color: #f3c26b;
    text-decoration: none;
}
.para1{
    font-size: 15px;
    color: #e4d1d1;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2px;
    background: rgba(62, 62, 62, 0.82);
    padding:3px 10px;
    margin:-20px 0 0 0;   
}
.para2{
    margin-top: 50px;
}
button{
    cursor: pointer;
    background: #f3c26b;
    border: 2px solid #f3c26b;
    -webkit-transition: all .4s;
    transition: all .4s;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    line-height: 44px;
    min-width: 170px;
    height: 46px;
    letter-spacing: 2px;
    margin-right: 15px;
    border-radius: 3px;
}
button:hover{
    background-color: rgba(62, 62, 62, 0.82);
    color: #f3c26b;
    border-color: transparent;
}
.down{
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
    left: 0;
    right: 0;
    width: 24px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.down .down-one {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    width: 1px;
    background: #f3c26b;
    margin-left: 12px;
}
.down .down-two {
    text-orientation: mixed;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    white-space: nowrap;
    transform: rotate(180deg);
}
.down .down-three {
    display: block;
    height: 30px;
    margin-bottom: 5px;
    width: 1px;
    background: #f3c26b;
    margin-left: 12px;
}

/* Section */
section{
    margin: auto 0;
}